[submodule "base/debian"]
	path = base/debian
	url = git@github.com:johna1203/docker-debian.git
[submodule "applications/magento"]
	path = applications/magento
	url = git@github.com:johna1203/nginx-php-magento.git
[submodule "frameworks/nginx"]
	path = frameworks/nginx
	url = git@github.com:johna1203/docker-nginx.git
[submodule "frameworks/nginx-php"]
	path = frameworks/nginx-php
	url = git@github.com:johna1203/docker-nginx-php.git
[submodule "services/mariadb"]
	path = services/mariadb
	url = git@github.com:johna1203/docker-mariadb.git
